h1{
    text-align:left;
    font-weight:bolder;
    text-decoration: red double underline;
    font-family:impact;
    
}
p{
    text-align:justify;
    font-weight:400;
    line-height:1.5;
    letter-spacing:2px;
    font-size:15px;
    font-family:cambria;


    
}
h2{
    text-align:left;
    font-weight:bolder;
    text-decoration:green wavy underline;
    font-family:impact;
}
h3{
    text-align:right;
    font-weight:bolder;
    text-decoration: navy dotted overline;
}
a{
    text-decoration:none ;
}
#login{             /*id selector*/
    background-color: rgb(21, 243, 13);
}
#signin{
    background-color: rgb(255, 68, 0);
}

*{                 /* universal selector*/
    text-align:justify;
    background-color:white;
}

.he{               /* class selector*/
    text-align:center;
    background-color:yellow;
    text-decoration:black double underline;
    line-height:2.5;
    letter-spacing:10px;
}